/* @import url("https://fonts.googleapis.com/css?family=VT323"); */
@import url("https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou");

::selection {
    background: transparent;
}
::-moz-selection {
    background: transparent;
}

* {
    margin: 0;
    padding: 0;
    /* font-family: "VT323"; */
    font-family: "ZCOOL QingKe HuangYou", cursive;
}
body {
    /* background-color: #000000; */
    color: green;
}
.wrap {
    margin-left: auto;
    margin-right: auto;
}
header {
    width: 340px;
    font-size: 0;
}
canvas {
    display: none;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
}
canvas:focus {
    outline: none;
}

/* Top Styles */
h1 {
    display: inline-block;
    width: 100px;
    font-size: 32px;
}
.score {
    display: inline-block;
    width: 240px;
    font-size: 20px;

    text-align: right;
}
.score_value {
    font-size: inherit;
}

/* All screens style */
#gameover a,
#settings a,
#menu a {
    display: block;
}

#gameover a,
#settings a:hover,
#menu a:hover {
    cursor: pointer;
}

#gameover a:hover::before,
#settings a:hover::before,
#menu a:hover::before {
    content: ">";
    margin-right: 10px;
}

#gameover h2 {
    color: red;
}

/* Menu Screen Style */
#menu {
    display: block;
    width: 340px;
    padding-top: 95px;
    padding-bottom: 95px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#menu h2 {
    -webkit-animation: logo-ani 1000ms linear infinite;
    animation: logo-ani 1000ms linear infinite;
    margin-bottom: 30px;
}

#menu a {
    font-size: 30px;
}

@-webkit-keyframes logo-ani {
    50% {
        -webkit-transform: scale(1.2, 1.2);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@keyframes logo-ani {
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

/* Game Over Screen Style */

#gameover {
    display: none;
    width: 340px;
    padding-top: 95px;
    padding-bottom: 95px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
}

#gameover p {
    margin-top: 25px;
    font-size: 20px;
}

#gameover .space {
    color: black;
    text-decoration: underline;
}

/* settingss Screen Style */
#settings {
    display: none;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 85px;
    padding-bottom: 85px;
    font-size: 30px;

    text-align: center;
}

#settings h2 {
    margin-bottom: 15px;
}

#settings p {
    margin-top: 10px;
}

#settings input {
    display: none;
}

#settings label {
    cursor: pointer;
}

#settings input:checked + label {
    background-color: green;
    color: white;
}
